@media print {
	.tm-main-nav {
		display: none;
	}

@media print {
	.tm-main-content,
	.tm-content-box {
		padding-top: 0;
		margin-bottom: 0;
	}
}

@media print {
	.tm-main-nav,
	.tm-side-bar,
	.flex-item img,
	#about,
	.gallery-container,
	.img-fluid,
	#contact {
		display: none;
	}
}

@media print {
	.padding-medium {
		max-width: 1300px;
		padding-top: 0px;
	}
}

@media print {
	div.padding-medium {
		text-align: center;
		}
	}

@media print {
	.padding-medium h2 {
	 font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 300;
	}

@media print {
	.tm-section-title,
	.padding-medium h2 {
		text-transform: uppercase;
		font-size: 35px;
		color: lightskyblue;
	}
}

@media print {
	.padding-medium ol {
		list-style: none;
	}
}

@media print {
	.container {
		padding: 0 0 0 0;
		margin: 0 0 0 0;
	}
}

@media print {
	.tm-banner {
		padding: 30px;
		width: 800px;
	}
}

